$golden: #EAC67A;
$darkblue: #131519;
$lightblue: #b8cee0;
$middleblue: #243B55;

@mixin header-text {
  position: absolute;
  text-align: center;
  color: $lightblue;
  z-index: 9;
}

@mixin svg-layers {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 105%;
}

@mixin full-screen {
  width: 100%;
  height: 100vh;
}

@mixin top-buttons {
  position: absolute;
  font-size: 24pt;
  font-weight: 100;
  color: $lightblue;
  z-index: 10;
  transition: 0.3s;
}

@mixin hover-menu {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  margin: 5px 0 0;
  transition: 1s;
  transition-duration: 0.5s;
  opacity: 0;
  background: $golden;
  border-radius: 3px;
}

@mixin section-break {
  width: 0%;
  height: 1px;
  background: $golden;
  transition: 1s;
  transition-duration: 0.5s;
}

@mixin after-titles {
  content: '';
  position: absolute;
  height: 5px;
  border-radius: 5px;
  background-color: $middleblue;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: $darkblue;
    text-shadow: none;
}

::selection {
    background: $darkblue;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
 @include full-screen;
	position: relative;
  font-family: 'Poppins', monospace;
	background: radial-gradient(circle at bottom, $golden, $darkblue 40%);
}

body#portfolio {
  background: $darkblue;
  position: relative;
}

/* Header styles */

header {
 @include full-screen;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  font-weight: 700;
	z-index: 0;
}

.name {
  width: 500px;
  -webkit-transition: ease-out 2s;
  -moz-transition: ease-out 2s;
  -o-transition: ease-out 2s;
  transition: ease-out 2s;
}

h1 {
  @include header-text;
	top: 50px;
  margin-left: 10px;
	font-size: 58px;
	font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 15px;
}

h3 {
  @include header-text;
	top: 240px;
	font-size: 24px;
	font-weight: 300;
  span {
    font-weight: 400;
  }
}

.strong {
  font-weight: 400;
}

.heritage {
  @extend .strong;
}

.cartography {
  @extend .strong;
}

.heritage:before {
  @include after-titles;
  margin-top: 35px;
  width: 103px;
}

.cartography:before {
  @include after-titles;
  margin-top: 35px;
  width: 154px;
}

.patrimoine:before {
  @include after-titles;
  margin-top: 35px;
  width: 130px;
}

.cartographie:before {
  @include after-titles;
  margin-top: 35px;
  width: 162px;
}

.kulturerbe:before {
  @include after-titles;
  margin-top: 35px;
  width: 123px;
}

.kartografie:before {
  @include after-titles;
  margin-top: 35px;
  width: 135px;
}

.hover:before {
  @include hover-menu;
  bottom: -5px;
}

.hover1:hover:before {
  opacity: 1;
  width: 35px;
}

.hover2:hover:before {
  opacity: 1;
  width: 85px;
}

/* Landscape styles */

.one {
  @include svg-layers;
  background-image: url('../img/landscape/grass.svg');
  z-index: 0;
}

.landscape {
@include full-screen;
	position: absolute;
	display: block;
	bottom: -5px;
	z-index: 0;
	.two, .three, .four {
  @include svg-layers;
	}
	.two {
		background-image: url('../img/landscape/stonehenge.svg');
		z-index: -1;
	}
	.three {
		background-image: url('../img/landscape/hill1.svg');
		z-index: -2;
	}
	.four {
		background-image: url('../img/landscape/hill3.svg');
		z-index: -3;
	}
}

/* Section styles */

.content {
	background: $darkblue;
  color: $lightblue;
  font-weight: 100;
}

.container {
	max-width: 80%;
	margin: 0 auto;
  font-size: 20pt;
}

section {
	padding: 50px 0;
}

.section-break1 {
  @include section-break;
}

/* Menu */

.menu-button {
  @include top-buttons;
 right: 10px;
 top: 10px;
 cursor: pointer;
}

.menu-button:hover {
 color: $golden;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  background-color: $darkblue;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
    padding: 8px;
    position: relative;
    text-decoration: none;
    font-size: 36px;
    font-weight: 100;
    color: $lightblue;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: $golden;
}

.hover-menu:before {
  @include hover-menu;
  bottom: 5px;
}

.hover3:hover:before {
  opacity: 1;
  width: 105px;
}

.hover4:hover:before {
  opacity: 1;
  width: 138px;
}

.hover5:hover:before {
  opacity: 1;
  width: 75px;
}

.hover6:hover:before {
  opacity: 1;
  width: 145px;
}

.coming-soon {
  font-weight: 100;
  font-size: 14pt;
  color: $lightblue;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    .overlay-content {
      margin-top: -10px;
    }
    .hover3:hover:before {
      opacity: 1;
      width: 58px;
    }

    .hover4:hover:before {
      opacity: 1;
      width: 76px;
    }

    .hover5:hover:before {
      opacity: 1;
      width: 43px;
    }

    .hover6:hover:before {
      opacity: 1;
      width: 80px;
    }
}

/* Languages */

.en {
  display: block;
}

.fr {
  display: none;
}

.de {
  display: none;
}

.hover10:hover:before {
  opacity: 1;
  width: 172px;
}

.hover11:hover:before {
  opacity: 1;
  width: 132px;
}

.language-select {
  @include top-buttons;
  left: 10px;
  top: 10px;
  position: absolute;
}
.language-select select {
  display: none;
}
.select-selected {
  background-color: $darkblue;
}
.select-selected:hover {
  color: $golden;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 25px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: $lightblue transparent transparent transparent;
}
.select-selected:hover:after {
  border-color: $golden transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent $lightblue transparent;
  top: 13px;
}
.select-selected.select-arrow-active:hover:after {
  border-color: transparent transparent $golden transparent;
}

.select-items div,.select-selected {
  color: $lightblue;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}

.select-items div:hover {
  color: $golden;
}

.select-items {
  position: absolute;
  background-color: $darkblue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Services section */

.services-container {
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  margin-top: 40px;
  margin-left: -10vw;
  transition: 1s;
  transition-duration: 1s;
}

@mixin services-image {
  width: 40%;
  height: 300px;
  margin: 20px;
  position: relative;
}

#web-app-container-image {
  @include services-image;
  background-image: url('../img/services-images/painting.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#virt-real-container-image {
  @include services-image;
  background-image: url('../img/services-images/pyramids.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#threed-container-image {
  @include services-image;
  background-image: url('../img/services-images/threed.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#maps-container-image {
  @include services-image;
  background-image: url('../img/services-images/map.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-title {
  font-weight: 400;
}

.services-title:before {
  content: '';
  position: absolute;
  margin-top: 40px;
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background-color: $middleblue;
}

.services-text {
  width: 40%;
  height: auto;
  margin: 20px;
  p {
    font-size: 14pt;
    padding: 5px;
  }
}

.projects-btn {
  @include top-buttons;
  position: relative;
  float: right;
  font-size: 20pt;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $golden;
  }
}

.hover7:hover:before {
  opacity: 1;
  width: 195px;
}

.section-break2 {
  @include section-break;
  margin-top: 40px;
}

/* About section */

.about {
  margin-top: 20px;
  transition: 1s;
  transition-duration: 1s;
  p {
    font-size: 14pt;
  }
}

.about-title {
  font-weight: 400;
}

.about-title:before {
  content: '';
  position: absolute;
  margin-top: 40px;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: $middleblue;
}

.section-break3 {
  @include section-break;
  margin-top: 40px;
}

/* Contact section */

.contact {
  transition: 1.5s;
  transition-duration: 1.5s;
  opacity: 0;
}

.email {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  a {
  @include top-buttons;
  text-decoration: none;
  color: inherit;
  font-size: 20pt;
  &:hover {
    color: $golden;
  }
  }
}

.hover8:hover:before {
  opacity: 1;
  width: 435px;
}

.section-break4 {
  @include section-break;
  width: 100%;
  margin-top: 80px;
}

/* Socials */

.socials {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  a {
    text-decoration: none;
  }
  img {
    width: 40px;
    height: 40px;
    padding: 10px;
    &:hover {
      color: $golden;
    }
  }
  i {
    color: $lightblue;
    width: 40px;
    height: 40px;
    font-size: 25pt;
    padding: 10px;
    transition: 0.3s;
    &:hover {
      color: $golden;
    }
  }
}

@mixin social-links {
  font-size: 12pt;
  width: 40px;
  height: auto;
  position: absolute;
  margin-top: -5px;
  color: $golden;
  display: none;
}

.github {
  @include social-links;
  margin-left: -2px;
}

.codepen {
  @include social-links;
  margin-left: -13px;
}

.linkedin {
  @include social-links;
  margin-left: -7px;
}

.sketchfab {
  @include social-links;
  margin-left: -8px;
}

/* Portfolio */

h3#portfolio {
  width: 90vw;
}

#mouse {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid $lightblue;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    border: 2px solid $golden;
  }
  &:hover:before {
    background-color: $golden;
  }
}

#mouse:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: $lightblue;
  border-radius: 100%;
  -webkit-animation: mouse 2s infinite;
  animation: mouse 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes mouse {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mouse {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.section-break5 {
  @include section-break;
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 40px;
}

.portfolio-container {
  left: 0;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  margin-top: 20px;
}

.portfolio-section-wrap {
  transition: 1s;
  transition-duration: 1s;
}

#maps-portfolio-container {
  flex-direction: row-reverse;
}

.title-line {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 24pt;
  font-weight: 400;
  color: $lightblue;
  text-align: center;
}

.center-icon {
  text-align: center;
  i {
    height: auto;
    color: $lightblue;
  }
}

.fa-code {
  font-size: 34pt;
}

.fa-cube {
  font-size: 34pt;
}

.fa-simplybuilt {
  font-size: 34pt;
  transform: rotate(180deg);
}

.fa-map {
  font-size: 34pt;
}

.placeholder {
  width: 80%;
  border: 3px solid $middleblue;
  margin-bottom: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  p {
    padding: 5px;
  }
  a {
    text-decoration: none;
    color: $lightblue;
    border-bottom: 1px solid $golden;
    transition: 0.5s;
    transition-duration: 0.5s;
  }
  a:hover {
    color: $golden;
  }
}

.portfolio-title {
  font-weight: 400;
  font-size: 25pt;
}

.portfolio-title:before {
  content: '';
  position: absolute;
  margin-top: 42px;
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background-color: $middleblue;
}

.hover9:hover:before {
  opacity: 1;
  width: 180px;
}

@mixin portfolio-image {
  width: 40vw;
  height: 300px;
  margin: 20px;
  position: relative;
}

#holywell-vr-portfolio-image {
  @include portfolio-image;
  background-image: url('../img/portfolio/thumbs/holywell_vr_thumb.jpg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

#port-ant-portfolio-image {
  @include portfolio-image;
  background-image: url('../img/portfolio/thumbs/port_ant_thumb.jpg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

#nok-portfolio-image {
  @include portfolio-image;
  background-image: url('../img/portfolio/thumbs/nok_thumb.jpg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

#alpina-portfolio-image {
  @include portfolio-image;
  background-image: url('../img/portfolio/thumbs/alpina_thumb.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#auckland-portfolio-image {
  @include portfolio-image;
  background-image: url('../img/portfolio/thumbs/auckland_thumb.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#holywell-portfolio-image {
  @include portfolio-image;
  background-image: url('../img/portfolio/thumbs/holywell_thumb.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#lalibela-portfolio-image {
  @include portfolio-image;
  background-image: url('../img/portfolio/thumbs/lalibela_thumb.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#japan-portfolio-image {
  @include portfolio-image;
  background-image: url('../img/portfolio/thumbs/japan_thumb.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-break6 {
  @include section-break;
}

// Skills section

.skills {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 20px;
  transition: 1s;
  transition-duration: 1s;
}

.skills-title {
  font-size: 24pt;
  font-weight: 400;
  color: $lightblue;
}

.skills-title:before {
  content: '';
  position: absolute;
  margin-top: 50px;
  width: 75px;
  height: 5px;
  border-radius: 5px;
  background-color: $middleblue;
}

.table-box {
  display: flex;
  align-content: center;
  justify-content: center;
}

table {
  align-self: center;
  margin-top: 20px;
  padding: 10px;
}

td {
  padding: 10px;
  padding-left: 20px;
  text-align: left;
}

.category {
  text-align: right;
  font-weight: 400;
}

.section-break7 {
  @include section-break;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 20px;
}

// Contact page

.contact-page {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

#contact {
  align-self: center;
}

#contact-socials {
  @extend .socials;
  position: absolute;
  bottom: 20px;
  font-weight: 100;
}

#language-bar {
  align-self: center;
  font-weight: 100;
  color: $lightblue;
  font-size: 18pt;
}

#contact-email {
  @extend .email;
  align-self: center;
  margin-top: 10vh;
  margin-bottom: 50px;
  color: $lightblue;
  font-weight: 100;
  text-decoration: none;
  font-size: 18pt;
  &:hover {
    color: $golden;
  }
}

// Responsive settings

@media only screen and (max-width: 800px) {
  #web-app-container-image {
    width: 500px;
  }
  #virt-real-container-image {
    width: 500px;
  }
  #threed-container-image {
    width: 500px;
  }
  #maps-container-image {
    width: 500px;
  }
  #alpina-portfolio-image {
    width: 500px;
  }
  #auckland-portfolio-image {
    width: 500px;
  }
  #port-ant-portfolio-image {
    width: 500px;
  }
  #nok-portfolio-image {
    width: 500px;
  }
  #holywell-portfolio-image {
    width: 500px;
  }
  #lalibela-portfolio-image {
    width: 500px;
  }
  #holywell-vr-portfolio-image {
    width: 500px;
  }
  #japan-portfolio-image {
    width: 500px;
  }
  .services-text {
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    font-size: 20pt;
  }
  .services-title:before {
    margin-top: 40px;
  }
  .about-title:before {
    margin-top: 40px;
  }
  .portfolio-title {
    font-size: 20pt;
  }
  .portfolio-title:before {
    margin-top: 35px;
  }
  #web-app-container-image {
    width: 400px;
  }
  #virt-real-container-image {
    width: 400px;
  }
  #threed-container-image {
    width: 400px;
    background-size: contain;
  }
  #maps-container-image {
    width: 400px;
  }
  #alpina-portfolio-image {
    width: 400px;
  }
  #auckland-portfolio-image {
    width: 400px;
  }
  #holywell-vr-portfolio-image {
    width: 400px;
  }
  #japan-portfolio-image {
    width: 400px;
  }
  .services-text {
    width: 400px;
  }
  .email {
    a {
    font-size: 16pt;
    }
  }
  #contact-email {
    font-size: 16pt;
  }
  #language-bar {
    font-size: 16pt;
  }
  .hover8:hover:before {
    opacity: 1;
    width: 405px;
  }
}

@media only screen and (max-width: 450px) {
  .email {
    a {
    font-size: 14pt;
    }
  }
  #contact-email {
    font-size: 14pt;
  }
  #language-bar {
    font-size: 14pt;
  }
  .hover8:hover:before {
    opacity: 1;
    width: 355px;
  }
  .section-break4 {
    margin-top: 60px;
  }
  h1 {
    top: 130px;
    font-size: 48px;
  }
  h3 {
    top: 280px;
    font-size: 18px;
  }
  .heritage:before {
    @include after-titles;
    margin-top: 28px;
    width: 77px;
  }
  .cartography:before {
    @include after-titles;
    margin-top: 28px;
    width: 118px;
  }
  .patrimoine:before {
    @include after-titles;
    margin-top: 28px;
    width: 98px;
  }
  .cartographie:before {
    @include after-titles;
    margin-top: 28px;
    width: 121px;
  }
  .kulturerbe:before {
    @include after-titles;
    margin-top: 28px;
    width: 93px;
  }
  .kartografie:before {
    @include after-titles;
    margin-top: 28px;
    width: 101px;
  }
  .title-line {
    font-size: 20pt;
  }
  .portfolio-title {
    font-size: 18pt;
  }
  .portfolio-title:before {
    margin-top: 32px;
  }
}

@media only screen and (max-height: 550px) {
  .name {
    width: 800px;
  }
  h1 {
    font-size: 28pt;
    top: 20px;
  }
  h3 {
    font-size: 18pt;
    top: 70px;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

.above-screen {
  transform: translateY(-150%);
  opacity: 0;
}

.below-screen {
  transform: translateY(100%);
}
